
@import "reset.css";


/*right content*/
.content_right h2{
    font-weight: 700;
}
.items{
    font-size: 24px;
    font-weight: 400;
    margin-top: 18px;
}

.list_li{
    padding-bottom: 7px;
    border: 1px solid #d3d3d3;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
.connect-btn{
    background-color:#49cf8b;
    border-color:#49cf8b;
    width: 102px;
    height: 40px;
    margin-top: 5px;
}
.connect-btn:hover{
    background-color: #28BF85;
}
.connect_links ul li a{
    color: white;
    padding-top:7px
}
.connect_links ul li a:hover{
    color: white;
}
.btn-next{    /* ileri oku */
    background-color: white;
    width: 130px;
    height: 45px;
    border:2px solid #e2e8ee;
    margin-top: 40px;
}
.btn-next:hover{
    border-color: #F2F1F2;
    background-color: #F2F1F2;
}
.next-arrow a {  /* ileri oku */
    color: #64657E;
    padding-top: 10px;
}

/* progress bar*/

.progressbar{
    counter-reset: step;
    min-width: 620px !important;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}
.progressbar li:before{  /* yuvarlaklar */
    content: counter(step);
    counter-increment: step;  
    color: #64657E;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after{ /* çubuk */
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
    transform: translate(0%,-50%);
}
.progressbar li:first-child::after{
    content: none;
}
.progressbar li.active{
    color: #64657E;
    font-weight: 700;
}
.progressbar li.active:before{
    border-color: #0e79ed;
}
.progressbar li.active + li:after{
    background-color: #0e79ed;
}
/* end progress bar */

.copyright{
    margin-top:204px;
    color: #7b7b91;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
	.sag {
		order: 1;
	}
	.sol {
        order: 2;
        margin-top: 70px;
        margin-bottom:30px;
    }
    .next-arrow{
        margin-bottom: 30px;
    }
    .items{
        text-align: center;
    }
    .connect-btn{
        width: 80px;
    }
    .items{
        font-size: 16px;
    }
    .progressbar{
        min-width: 380px !important;
        
    }
    h2{
        font-size: 26px;
    }
}










