
@import "reset.css";

/* right content */
.content_right h3 {
  font-weight: 700;
}

.download_button {
  width: 50%;
  background-color: #49cf8b;
  color: white;
}
.download_button:hover{
  background-color: #28BF85;
  color: white;
}

.ileri_sag {
  background-color: white;
  width: 130px;
  height: 45px;
  border:2px solid #e2e8ee;
  margin-top: 40px;
}
.ileri_sag:hover{
  border-color: #F2F1F2;
  background-color: #F2F1F2;
  color: #64657E;
}
.ileri-geri a {
  color: #64657E;
  padding-top: 10px;
}

.banner {
  height: 50vh;
}
.fa-spinner{
  color: #64657E;
}
.video_iframe {
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
/* loading */
#loading{
  display: none;
}
#check{
  display: none;
}

/*progress bar*/

.progressbar {
  counter-reset: step;
  min-width: 620px !important;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}

.progressbar li:nth-child(1):before {
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
  background-color: #0e79ed;
  color: white;
}

.progressbar li:before {
  content: counter(step );
  counter-increment: step;
  color: #64657E;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
  transform: translate(0%, -50%);
}

.progressbar li:first-child::after {
  content: none;
}

.progressbar li.active {
  color: #64657E;
  font-weight: 700;
}
.progressbar li.active:before {
  border-color: #0e79ed;
}

.progressbar li.active + li:after {
  background-color: #0e79ed;
}

.copyright{
  margin-top:234px;
  margin-left: 15px;
  color: #7b7b91;
  font-weight: 500;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
	.sag {
		order: 1;
	}
	.sol {
        order: 2;
        margin-top: 30px;
    }
    .btn{
      font-size: 14px;
    }
    .progressbar{
      min-width: 380px !important;
      
    }
    h2{
      font-size: 26px;
    }
}

/* LOADING PART */
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
/*.modal {
  display:    none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8) url("../images/loading.gif") 50% 50%
    no-repeat;
}

 When the body has the loading class, we turn
   the scrollbar off with overflow:hidden 
body.loading .modal {
  overflow: hidden;
}

 Anytime the body has the loading class, our
   modal element will be visible 
body.loading .modal {
  display: block;
}*/
