
@import "reset.css";

body{
   background-color: white;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: white;
  padding: 30px 0px;
  position: fixed;
  border-right: 2px solid black;
  background-color: white;
}

.wrapper .sidebar h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.userSpec a{
    font-size: 24px;
}

.logo:hover a{
  color: purple;
}


.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 2px solid black;
} 

.wrapper .sidebar ul li:first-child{
    padding: 15px;
    border-top: 2px solid black;
}      

.wrapper .sidebar ul li a{
  color: black;
  font-weight: 700;
  display: block;
}



.wrapper .sidebar ul li:hover{
    background-color: purple !important;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: white !important;
  }



.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: white;
}
    
.wrapper .sidebar ul li:hover a{
  color: purple;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}



.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 40px;
    background: #fff;
    color: black;
  }

.wrapper .main_content .info{
  margin: 20px;
  color: black;
  line-height: 25px;
}

.gorev {
    font-family:'Balsamiq Sans', cursive  ;
    font-size: 18px;
}

/* etiketler */
.tokenizationSelect2{
  width: 1000px !important;
  height: 300px !important;
}






