@import "reset.css";


.content_right h2{
    font-weight: 700 ;
}

.download_button{
    width: 50%;
}

.ileri_sag {
    background-color: white;
    width: 130px;
    height: 45px;
    border:2px solid #e2e8ee;
    margin-top: 40px;
  }
  .ileri_sag:hover{
    border-color: #F2F1F2;
    background-color: #F2F1F2;
    color: #64657E;
  }
  .ileri-geri a {
    color: #64657E;
    padding-top: 10px;
  }

.banner{
    height: 50vh;
}

/*progress bar*/
.progressbar{
    counter-reset: step;
    min-width: 620px !important;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}

.progressbar li:nth-child(1):before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f00c";
    background-color: #0e79ed;
    color: white;
}
  
  .progressbar li:nth-child(2):before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f071";
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progressbar li:nth-child(3):before {
    
  }
  .progressbar li:before {
    content: counter(step );
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
  }

.progressbar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
    transform: translate(0%,-50%);
}


.progressbar li:first-child::after{
    content: none;
}

.progressbar li.active{
    color: #64657E;
}
.progressbar li.active:nth-child(2):before{
  border-color: orange;
}
.progressbar li.active:before{
    border-color: #0e79ed;
}

.progressbar li.active + li:after{
    background-color: #0e79ed;
}

.copyright{
    margin-top:64px;
    color: #7b7b91;
    font-weight: 500;
    font-size: 14px;
  }

  @media only screen and (max-width: 768px) {
      .sag {
      order: 1;
      } 
      .sol {
          order: 2;
          margin-top: 30px;
      }
      .ileri-geri{
        width: 312px;
      }
      .scrollbar{
        width: 200px;
      }
      .example-1{
        width: 360px !important;
        margin-left:-32px;
      }
      h2{
        font-size: 26px;
      }
      .progressbar{
        min-width: 380px !important;   
      }
      .banner{
        height: 30vh;
        margin-bottom: 10px;
      }
      .copyright{
        margin-top: 30px;
      }
  }

  /* scrollbar */
  .up-box{
    margin-top: -21px;
  }

  .scrollbar-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-deep-purple::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-deep-purple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #64657E; }
    
    .scrollbar-deep-purple {
    scrollbar-color: #64657E #F5F5F5;
    }
    
    .scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 8px;  /* yandaki çubuğun genişliği*/
    background-color: #F5F5F5; }
    
    .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #64657E 0%, #64657E 100%);
    background-image: linear-gradient(120deg, #64657E 0%, #64657E 100%); }
    
    .bordered-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #64657E;
   }
    
    .bordered-deep-purple::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none; }
    
    .square::-webkit-scrollbar-track {
    border-radius: 0 !important; }
    
    .square::-webkit-scrollbar-thumb {
    border-radius: 0 !important; }
    
    .thin::-webkit-scrollbar {
    width: 6px; }
    
    .example-1 {  /* kutu */
    position: relative;
    overflow-y: scroll;
    height: 230px; 
    width: 450px;
    border: none;
  }

/* scroll bar içi */
.trash{
  font-size: 18px !important;
  padding-left: 12px;
  color: #e61906;
  cursor: pointer;
}

.box input{
    padding: 10px 10px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    height: 70px;
    border: 3px solid rgb(243, 243, 243);
    background-color: white;
    border-radius: 16px;
    padding-top: 25px;
}

.den{
    position: relative;
}
.den label{
    position: absolute;
    top:18px;
    left: 2px;
    transform: translate(10px,6px);
    pointer-events: none;
    color: #999;
    transition: .5s;
}

.box input:focus ~ label ,
.box input:valid ~ label{
    top: -5px;
    left: 0;
    padding-top: 7px;
    padding-left: 3px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
}

.box{
  width: 100%;
  box-sizing: border-box;
}
/* scroll bar iç sonu*/

.add{
  color: #64657E;
}
.add:hover{
  color: #999;
}