
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    border:0;
    vertical-align: baseline; 
    /*font-family: 'Balsamiq Sans', cursive ;*/
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
   }
   a {
       text-decoration: none !important;
       color: black;
   }
   img {
       border: 0;
   }
   .clear {
       clear: both;
   }
   ol, ul {
       list-style: none;
   }
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
       display: block;
   }
   
  
   .row::after {
       content: "";
       clear: both;
       display: table;
   }
h2,h3,p{
    color: #64657e
}

body{
    background-color: rgba(255, 255, 255, 0.993);
}


.gm-logo__img {
    width: 204px;
    height: 60px;
}



.form-control{
    -webkit-appearance: none;
    border: solid 2px #f2f1f2;
    border-radius: 16px;
    font-size: 18px;
    outline: 0;
    padding: 10px 20px;
    width: 100%;
    background: white;
    height: 62px;
    box-shadow: none;
    color: #64657e;
    background-color: #f1f1f3;
}

.google{
    font-weight: 400;
    border: 3px solid rgb(243, 243, 243);
}

.google:hover{
    background-color: rgb(243, 243, 243);
    border-color: rgb(243, 243, 243);
    color: #7b7b91;
}


@media only screen and (max-width: 768px){
    .logo{
        display:flex;
        justify-content: center;
        padding-bottom: 0 !important;
    }
    .main{
        padding-top: 20px !important;
    }
    .copyright{
        margin-top: 30px !important;
    }
}
