@import "reset.css";

/* left content */
.content h2{
    font-weight: 700;
    font-size: 24px;

}

.content h3{
    font-weight: 400;
    font-size: 16px;

}

/* right content */
.baslik h1{
    font-weight: 700;
    color: #64657e;
}

.oturum_ac{
    color: #26c78b;
    margin-left: 15px;
}
.oturum_ac:hover{
    color:#21A872 ;
}

.google{
    font-weight: 400;
}
.soz-a:hover{
    color: #21A872 !important;
}
.free{
    border-color: #26c78b;
    transition: all ease .2s;
    
}
.free:hover{
}
.soz a{
    color: #26c78b;
}

/* password eye icon */
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 15px;
  }

.google-span ,i {
    color: #64657e;
}
.google{
    border-color: #F2F1F2 !important;
    color: #64657e;
    margin-bottom: 14px;
}
.google:hover{
    color: #F2F1F2 ;
    border-color: #F2F1F2;
    color: #64657e;
}

.btn{
    border-radius:16px;
    border: solid 2px currentColor;
    font-size: 18px;
    padding: 10px 20px;
    height: 62px;
    transition: all ease .1s;
}
#ileri:hover{
    border-color: #26C78B;
}


/*---------------*/
.box{
    width: 100%;
    box-sizing: border-box;
}

.box input{
    padding: 10px 10px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    height: 70px;
    border: 3px solid rgb(243, 243, 243);
    background-color: white;
    border-radius: 16px;
    padding-top: 25px;
}

.den{
    position: relative;
}
.den label{
    position: absolute;
    top:18px;
    left: 2px;
    transform: translate(10px,6px);
    pointer-events: none;
    color: #999;
    transition: .5s;
}

.box input:focus ~ label ,
.box input:valid ~ label{
    top: -5px;
    left: 0;
    padding-top: 7px;
    padding-left: 3px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
}


/* göz */
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -48px;
    position: relative;
    z-index: 2;
}


.copyright{
    margin-top:96px;
    color: #7b7b91;
    font-size: 14px;
}


@media only screen and (max-width: 768px) {
	.sag {
		order: 1;
	}
	.sol {
        order: 2;
        margin-top: 30px;
    }
}



